<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mysql.dao.DemoTableDao">
    <resultMap id="BaseResultMap" type="com.example.demo.mysql.entity.DemoTable">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="key_t" property="key" jdbcType="VARCHAR"/>
        <result column="value_t" property="value" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getDemoTableById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select t.id, t.key_t, t.value_t
        from demo_table t
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getDemoTableByKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select t.id, t.key_t, t.value_t
        from demo_table t
        where key = #{key,jdbcType=VARCHAR}
    </select>

    <delete id="deleteDemoTableById" parameterType="java.lang.Integer">
        delete from demo_table
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertDemoTable" parameterType="com.example.demo.mysql.entity.DemoTable">
        insert into demo_table(key_t, value_t)
        values (#{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR})
    </insert>

</mapper>